<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>
<body>
    <h1>{{ .title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Client ID</th>
            </tr>
        </thead>
        <tbody>
            {{ range .users }}
            <tr>
                <td>{{ .ID }}</td>
                <td>{{ .UserName }}</td>
                <td>{{ .ClientID }}</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>

